@import url(./Ma-Shan-Zheng.css);
@import url(./Londrina-Sketch.css);
@import url(./landing.css);

/*
  ------------------------------------------------------------------------------
  Custom CSS
  ------------------------------------------------------------------------------

*/

/* @supports (text-autospace: normal) {
  :root {
    text-autospace: normal;
  }
} */

/*
  ------------------------------------------------------------------------------
  Doc Container Background
  ------------------------------------------------------------------------------
 */
.vp-doc-container {
  --vp-doc-blog-bg: rgba(100, 190, 190, 0.12);

  background-image:
    linear-gradient(90deg, var(--vp-doc-blog-bg) 3%, transparent 0),
    linear-gradient(1turn, var(--vp-doc-blog-bg) 3%, transparent 0);
  background-position: 50%;
  background-size: 20px 20px;
}

[data-theme="dark"] .vp-doc-container {
  --vp-doc-blog-bg: rgba(30, 120, 120, 0.15);
}

.vp-chat .vp-chat-message-body {
  min-width: 0;
}

/*
  ------------------------------------------------------------------------------
  Home Banner
  ------------------------------------------------------------------------------
 */
/* :root {
  --vp-c-text-hero-tagline: rgba(235, 245, 245, 0.75);
}
.vp-home-banner .content .hero-name,
.vp-home-banner .content .hero-text {
  font-family: 'Ma Shan Zheng', sans-serif;
  font-weight: 400 !important;
}

.vp-home-banner .content .hero-text {
  font-size: 18px !important;
}

.vp-home-banner .content .hero-tagline {
  font-family: 'Pacifico', sans-serif;
} */
