name: Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Docs build
        env:
          NODE_OPTIONS: --max_old_space_size=8192
          VUEPRESS_GAODE_MAP_KEY: ${{ secrets.VUEPRESS_GAODE_MAP_KEY }}
        run: pnpm build

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
          single-commit: true
